<a href="https://colab.research.google.com/github/shinchan75034/TFE_BigQuery/blob/master/GCP_TFE2_BigQuery_Colab_Authentication.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Reference
Had to make a change in creating `one_shot_iterator`. It has to wrap around `tf.compact.v1.data`. <br />
This is modified from [here](https://cloud.google.com/blog/products/ai-machine-learning/tensorflow-enterprise-makes-accessing-data-on-google-cloud-faster-and-easier "TFE and BigQuery")

### Install TensorFlow IO
This is necesary in Colab. In Google Cloud service such as AI notebook or Deep Learning VM, this is installed along as a part of TensorFlow Enterprise distribution.

In [0]:
 !pip install tensorflow-io

Collecting tensorflow-io
  Downloading https://files.pythonhosted.org/packages/28/d5/fed76bdd291d3ada5b159e47638fb639dd01bfb3361a58b00fb61f60682f/tensorflow_io-0.13.0-cp36-cp36m-manylinux2010_x86_64.whl (20.9MB)
     |████████████████████████████████| 20.9MB 1.4MB/s
Requirement already satisfied: tensorflow<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-io) (2.2.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.1.0)
Requirement already satisfied: tensorboard<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (2.2.1)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.18.4)
Requirement already satisfied: google-pasta>=0.1.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (0.2.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (0.9.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (3.2.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.12.0)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (3.10.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.1.2)
Requirement already satisfied: tensorflow-estimator<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (2.2.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.29.0)
Requirement already satisfied: astunparse==1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.6.3)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (0.34.2)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (2.10.0)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (0.3.3)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.12.1)
Requirement already satisfied: scipy==1.4.1; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.4.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.7.2)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (3.2.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.6.0.post3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (0.4.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.0.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (46.3.0)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (3.1.1)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (0.2.8)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.6.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (2.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (1.3.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (0.4.8)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (3.1.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow<2.3.0,>=2.2.0->tensorflow-io) (3.1.0)
Installing collected packages: tensorflow-io
Successfully installed tensorflow-io-0.13.0

In [0]:
!ls -lrt

total 4
drwxr-xr-x 1 root root 4096 May 13 16:29 sample_data

In [0]:

from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Set environmental variable

In [0]:
PROJECT_ID = "project1-190517" #@param {type:"string"}
! gcloud config set project $PROJECT_ID
%env GCLOUD_PROJECT=$PROJECT_ID

Updated property [core/project].
env: GCLOUD_PROJECT=project1-190517

In [0]:
!ls -lrt

total 8
drwxr-xr-x 1 root root 4096 May 13 16:29 sample_data
-rw-r--r-- 1 root root 2664 May 19 21:31 adc.json

### Authentication

Colab notebook requires extra authentication steps below. You don't need to do this if you are running in Google Cloud service environment such as a AI notebook, because in there, you are authenticated in your Google Cloud tenant.

According to instruction [here](https://cloud.google.com/iam/docs/creating-managing-service-account-keys#iam-service-account-keys-create-console  "Google Cloud IAM & Admins"), go Google Cloud IAM & Admins tab to choose a service account email, create a key and downlowd the key in JSON format at your local computer, then in the cell below, upload it to your Colab notebook.

In [0]:

from google.colab import files
uploaded = files.upload()

Saving project1-190517-858599adc951.json to project1-190517-858599adc951.json

In [0]:
!rm service_account.json
!ln -s project1-190517-858599adc951.json service_account.json

rm: cannot remove 'service_account.json': No such file or directory

In [0]:
!ls -lrt ./service_account.json

lrwxrwxrwx 1 root root 33 May 19 21:31 ./service_account.json -> project1-190517-858599adc951.json

In [0]:
!cat ./service_account.json

In [0]:
from google.cloud import bigquery
from google.oauth2 import service_account

# TODO(developer): Set key_path to the path to the service account key
#                  file.
key_path = "./service_account.json"

credentials = service_account.Credentials.from_service_account_file(
    key_path,
    scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

client = bigquery.Client(
    credentials=credentials,
    project=credentials.project_id,
)

In [0]:
client

Now we have completed all the client authentication steps necessary for this Colab to use BigQuery API.

### Run BigQuery API without using TensorFlow IO
The first way we can try is calling BigQuery API directly from Python. This will give us direct access to the data, execute the query, and receive the results.

In [0]:
project_id ="project1-190517"

In [0]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.samples.gsod`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 114420316 rows

In [0]:
df.describe()

       station_number   wban_number  ...  total_precipitation  snow_depth
count     1946.000000   1946.000000  ...          1786.000000  101.000000
mean    500668.700925  89078.760021  ...             0.066529    9.099010
std     299115.051121  27732.276606  ...             0.298507    9.729198
min      10010.000000    137.000000  ...             0.000000    0.400000
25%     238152.500000  99999.000000  ...             0.000000    2.000000
50%     529230.000000  99999.000000  ...             0.000000    6.300000
75%     725107.750000  99999.000000  ...             0.010000   14.200000
max     999999.000000  99999.000000  ...             7.240000   63.000000

[8 rows x 22 columns]

In [0]:
import pandas as pd

sample_count = 2000
df = pd.io.gbq.read_gbq('''
  SELECT name, SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''', project_id=project_id, dialect='standard')

df.head()

      name   count
0    James  272793
1     John  235139
2  Michael  225320
3   Robert  220399
4    David  219028

### Run BigQuery API with TensorFlow IO

For TensorFlow consumption of BigQuery Data, it is better if we would use TensorFlow IO to invoke the BigQuery API. This is because TensorFlow IO will provide us with a dataset object that represents the query results, rather than the entire results as in the previous way. Dataset object is the means to streaming data to model during training. This is necessary when data size gets very big.

In [0]:

import tensorflow as tf
from tensorflow_io.bigquery import BigQueryClient

In [0]:
PROJECT_ID = "project1-190517" # This is from what you created in your Google Cloud Account. 
DATASET_GCP_PROJECT_ID = "bigquery-public-data"
DATASET_ID = "samples"
TABLE_ID = "wikipedia"

Lets wrap around the client and session call in a function. Notice that a tradeoff is that we must know the schema of table beforehand. It won't work as an ad hoc query like previous way of using BigQuery API call without using TensorFlow IO. Also, we have to create a session to read the data. These are some obvious complications.

In [0]:
# Use this function to create a BigQuery client with read session.
def run_bqsession(num_iterations):
  batch_size = 2048
  client = BigQueryClient()
  read_session = client.read_session(
      "projects/" + PROJECT_ID,
      DATASET_GCP_PROJECT_ID, TABLE_ID, DATASET_ID,
      ["title",
       "id",
       "num_characters",
       "language",
       "timestamp",
       "wp_namespace",
       "contributor_username"],
      [tf.string,
       tf.int64,
       tf.int64,
       tf.string,
       tf.int64,
       tf.int64,
       tf.string],
      requested_streams=10
  )

  dataset = read_session.parallel_read_rows(sloppy=True).batch(batch_size)
  return dataset

In [0]:
batcheddataset = run_bqsession(1000)

In [0]:
type(batcheddataset)

tensorflow.python.data.ops.dataset_ops.BatchDataset

### Examine dataset returned by TensorFlow IO Ops

Dataset structure is inherently a Python iterator. We can output the actual content of the data using `next()`

In [0]:
next(iter(batcheddataset))

OrderedDict([('contributor_username',
              <tf.Tensor: shape=(2048,), dtype=string, numpy=array([b'', b'MSGJ', b'', ..., b'', b'', b''], dtype=object)>),
             ('id',
              <tf.Tensor: shape=(2048,), dtype=int64, numpy=array([ 1462053, 15851098,  6459333, ..., 21315055,  1533342, 10607447])>),
             ('language',
              <tf.Tensor: shape=(2048,), dtype=string, numpy=array([b'', b'', b'', ..., b'', b'', b''], dtype=object)>),
             ('num_characters',
              <tf.Tensor: shape=(2048,), dtype=int64, numpy=array([20009, 81301, 30391, ..., 16407, 11407,  2163])>),
             ('timestamp', <tf.Tensor: shape=(2048,), dtype=int64, numpy=
              array([1173977859, 1252849786, 1167244494, ..., 1175541864, 1262753759,
                     1184276488])>),
             ('title', <tf.Tensor: shape=(2048,), dtype=string, numpy=
              array([b'Strait of Messina Bridge', b'Template talk:WPBannerMeta',
                     b'2007 in music', ..., b'Wirral Grammar School for Boys',
                     b'TED (conference)', b'URL Subscription Architecture'],
                    dtype=object)>),
             ('wp_namespace',
              <tf.Tensor: shape=(2048,), dtype=int64, numpy=array([ 0, 11,  0, ...,  0,  0,  0])>)])

Lets not wrap it around a function. Lets just use the code as-is.

In [0]:
batch_size = 2048
client = BigQueryClient()
read_session = client.read_session(
    "projects/" + PROJECT_ID,
    DATASET_GCP_PROJECT_ID, TABLE_ID, DATASET_ID,
    ["title",
     "id",
     "num_characters",
     "language",
     "timestamp",
     "wp_namespace",
     "contributor_username"],
    [tf.string,
     tf.int64,
     tf.int64,
     tf.string,
     tf.int64,
     tf.int64,
     tf.string],
      requested_streams=10
)

In [0]:
dataset = read_session.parallel_read_rows(sloppy=True).batch(batch_size)

In [0]:
type(dataset)

tensorflow.python.data.ops.dataset_ops.BatchDataset

In [0]:
itr = tf.compat.v1.data.make_one_shot_iterator(
    dataset
)

Lets try to get a feel for read speed.

In [0]:
import time
n = 0
mini_batch = 100
num_iterations = 10000
for i in range(num_iterations // mini_batch):
    local_start = time.time()
    start_n = n
    for j in range(mini_batch):
        n += batch_size
        batch = itr.get_next()    
    local_end = time.time()
    print('Processed %d entries in %f seconds. [%f] examples/s' % (n - start_n, local_end - local_start, (mini_batch * batch_size) / (local_end - local_start)))

Processed 204800 entries in 6.675380 seconds. [30679.900312] examples/s
Processed 204800 entries in 0.803941 seconds. [254745.134064] examples/s
Processed 204800 entries in 0.786988 seconds. [260232.678021] examples/s
Processed 204800 entries in 0.794928 seconds. [257633.371784] examples/s
Processed 204800 entries in 0.785177 seconds. [260832.751855] examples/s
Processed 204800 entries in 0.800716 seconds. [255770.957061] examples/s
Processed 204800 entries in 0.794140 seconds. [257889.004568] examples/s
Processed 204800 entries in 0.806647 seconds. [253890.617887] examples/s
Processed 204800 entries in 0.789359 seconds. [259450.992445] examples/s
Processed 204800 entries in 0.804452 seconds. [254583.187009] examples/s
Processed 204800 entries in 0.814778 seconds. [251356.710134] examples/s
Processed 204800 entries in 0.854899 seconds. [239560.549236] examples/s
Processed 204800 entries in 0.813641 seconds. [251708.188344] examples/s
Processed 204800 entries in 0.856135 seconds. [239214.640159] examples/s
Processed 204800 entries in 0.839786 seconds. [243871.706947] examples/s
Processed 204800 entries in 0.833282 seconds. [245775.071237] examples/s
Processed 204800 entries in 0.823991 seconds. [248546.385851] examples/s
Processed 204800 entries in 0.841133 seconds. [243481.080100] examples/s
Processed 204800 entries in 0.835471 seconds. [245131.144506] examples/s
Processed 204800 entries in 0.844155 seconds. [242609.452351] examples/s
Processed 204800 entries in 0.828717 seconds. [247128.926676] examples/s
Processed 204800 entries in 0.828581 seconds. [247169.672539] examples/s
Processed 204800 entries in 0.821824 seconds. [249201.753187] examples/s
Processed 204800 entries in 0.836149 seconds. [244932.568666] examples/s
Processed 204800 entries in 0.818356 seconds. [250257.968461] examples/s
Processed 204800 entries in 0.829706 seconds. [246834.292814] examples/s
Processed 204800 entries in 0.864059 seconds. [237020.924830] examples/s
Processed 204800 entries in 0.839451 seconds. [243968.953280] examples/s
Processed 204800 entries in 0.821502 seconds. [249299.462943] examples/s
Processed 204800 entries in 0.845012 seconds. [242363.436531] examples/s
Processed 204800 entries in 0.842404 seconds. [243113.718709] examples/s
Processed 204800 entries in 0.842442 seconds. [243102.710177] examples/s
Processed 204800 entries in 0.835315 seconds. [245176.832411] examples/s
Processed 204800 entries in 0.842598 seconds. [243057.791943] examples/s
Processed 204800 entries in 2.040867 seconds. [100349.492162] examples/s
Processed 204800 entries in 0.832520 seconds. [246000.234604] examples/s
Processed 204800 entries in 0.825804 seconds. [248000.809315] examples/s
Processed 204800 entries in 0.833319 seconds. [245764.312576] examples/s
Processed 204800 entries in 0.849693 seconds. [241028.213199] examples/s
Processed 204800 entries in 0.852736 seconds. [240167.984441] examples/s
Processed 204800 entries in 0.860065 seconds. [238121.409911] examples/s
Processed 204800 entries in 0.820760 seconds. [249524.682130] examples/s
Processed 204800 entries in 0.827463 seconds. [247503.540192] examples/s
Processed 204800 entries in 0.821594 seconds. [249271.610388] examples/s
Processed 204800 entries in 0.864600 seconds. [236872.492469] examples/s
Processed 204800 entries in 0.882045 seconds. [232187.817642] examples/s
Processed 204800 entries in 0.838722 seconds. [244180.891719] examples/s
Processed 204800 entries in 0.833492 seconds. [245713.344796] examples/s
Processed 204800 entries in 0.853113 seconds. [240061.868579] examples/s
Processed 204800 entries in 0.809244 seconds. [253075.735980] examples/s
Processed 204800 entries in 0.804864 seconds. [254452.948418] examples/s
Processed 204800 entries in 0.820528 seconds. [249595.445764] examples/s
Processed 204800 entries in 0.810512 seconds. [252679.767050] examples/s
Processed 204800 entries in 0.814435 seconds. [251462.668838] examples/s
Processed 204800 entries in 0.813934 seconds. [251617.425884] examples/s
Processed 204800 entries in 0.826155 seconds. [247895.386542] examples/s
Processed 204800 entries in 0.847976 seconds. [241516.278068] examples/s
Processed 204800 entries in 0.814252 seconds. [251519.143036] examples/s
Processed 204800 entries in 0.823385 seconds. [248729.474725] examples/s
Processed 204800 entries in 0.816248 seconds. [250904.008828] examples/s
Processed 204800 entries in 0.809717 seconds. [252927.968040] examples/s
Processed 204800 entries in 0.820379 seconds. [249640.709125] examples/s
Processed 204800 entries in 0.835423 seconds. [245145.415774] examples/s
Processed 204800 entries in 0.871834 seconds. [234907.028942] examples/s
Processed 204800 entries in 0.834446 seconds. [245432.382635] examples/s
Processed 204800 entries in 2.096060 seconds. [97707.124951] examples/s
Processed 204800 entries in 0.838638 seconds. [244205.535406] examples/s
Processed 204800 entries in 0.822026 seconds. [249140.389271] examples/s
Processed 204800 entries in 0.823126 seconds. [248807.715125] examples/s
Processed 204800 entries in 0.875512 seconds. [233920.169491] examples/s
Processed 204800 entries in 0.867539 seconds. [236070.098018] examples/s
Processed 204800 entries in 0.819524 seconds. [249901.074263] examples/s
Processed 204800 entries in 0.820302 seconds. [249664.000037] examples/s
Processed 204800 entries in 0.824307 seconds. [248451.133773] examples/s
Processed 204800 entries in 0.828998 seconds. [247045.272671] examples/s
Processed 204800 entries in 0.839716 seconds. [243891.925583] examples/s
Processed 204800 entries in 0.824055 seconds. [248527.113878] examples/s
Processed 204800 entries in 0.827764 seconds. [247413.575015] examples/s
Processed 204800 entries in 0.832648 seconds. [245962.197470] examples/s
Processed 204800 entries in 0.837095 seconds. [244655.687704] examples/s
Processed 204800 entries in 0.828211 seconds. [247279.888766] examples/s
Processed 204800 entries in 0.845677 seconds. [242172.799700] examples/s
Processed 204800 entries in 0.826378 seconds. [247828.443478] examples/s
Processed 204800 entries in 0.809748 seconds. [252918.063404] examples/s
Processed 204800 entries in 0.813272 seconds. [251822.342587] examples/s
Processed 204800 entries in 0.846462 seconds. [241948.247242] examples/s
Processed 204800 entries in 0.845743 seconds. [242153.889038] examples/s
Processed 204800 entries in 0.815437 seconds. [251153.651711] examples/s
Processed 204800 entries in 0.879236 seconds. [232929.439251] examples/s
Processed 204800 entries in 0.812441 seconds. [252079.809017] examples/s
Processed 204800 entries in 0.818540 seconds. [250201.621866] examples/s
Processed 204800 entries in 0.816189 seconds. [250922.405146] examples/s
Processed 204800 entries in 0.827934 seconds. [247362.704504] examples/s
Processed 204800 entries in 0.885308 seconds. [231331.851218] examples/s
Processed 204800 entries in 0.827147 seconds. [247598.138301] examples/s
Processed 204800 entries in 0.851402 seconds. [240544.541880] examples/s
Processed 204800 entries in 0.835503 seconds. [245121.771145] examples/s
Processed 204800 entries in 1.992575 seconds. [102781.555608] examples/s
Processed 204800 entries in 0.787034 seconds. [260217.620896] examples/s
Processed 204800 entries in 0.838240 seconds. [244321.531632] examples/s

Lets read another dataset

In [0]:
DATASET_GCP_PROJECT_ID = 'project1-190517'
TABLE_ID = 'confirmed_cases'
DATASET_ID = 'covid19_usafacts'

In [0]:
read_session2 = client.read_session(
    "projects/" + PROJECT_ID,
    DATASET_GCP_PROJECT_ID, TABLE_ID, DATASET_ID,
    ["county_fips_code",
     "county_name",
     "state",
     "state_fips_code",
     "_1_22_20"
     
     ],
    [tf.string,
     tf.string,
     tf.string,
     tf.string,
     tf.int64
     
     
     ],
      requested_streams=10
)

In [0]:
dataset2 = read_session2.parallel_read_rows(sloppy=True).batch(batch_size)

In [0]:
itr2 = tf.compat.v1.data.make_one_shot_iterator(dataset2)

In [0]:
next(itr2)

OrderedDict([('_1_22_20',
              <tf.Tensor: shape=(2048,), dtype=int64, numpy=array([0, 0, 0, ..., 0, 0, 0])>),
             ('county_fips_code',
              <tf.Tensor: shape=(2048,), dtype=string, numpy=
              array([b'01073', b'06001', b'06013', ..., b'28003', b'48277', b'54081'],
                    dtype=object)>),
             ('county_name', <tf.Tensor: shape=(2048,), dtype=string, numpy=
              array([b'Jefferson County', b'Alameda County', b'Contra Costa County',
                     ..., b'Alcorn County', b'Lamar County', b'Raleigh County'],
                    dtype=object)>),
             ('state',
              <tf.Tensor: shape=(2048,), dtype=string, numpy=array([b'AL', b'CA', b'CA', ..., b'MS', b'TX', b'WV'], dtype=object)>),
             ('state_fips_code',
              <tf.Tensor: shape=(2048,), dtype=string, numpy=array([b'01', b'06', b'06', ..., b'28', b'48', b'54'], dtype=object)>)])